VITE_BLOCKS_API_URL=https://api.seliseblocks.com
VITE_API_BASE_URL=https://api.seliseblocks.com
VITE_BLOCKS_KEY=your_blocks_key_here
VITE_X_BLOCKS_KEY=your_blocks_key_here
VITE_APP_DOMAIN=https://dotved-dzcgr.seliseblocks.com
VITE_IAM_CLIENT_ID=your_iam_client_id_here
VITE_CAPTCHA_SITE_KEY=
VITE_CAPTCHA_TYPE=
VITE_PROJECT_SLUG=dotved
